*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    background-color: rgba(17, 18, 27, 0.8);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: gold;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    position: fixed;  
    width: 100%;
    background-color: rgb(91, 167, 202);
    list-style: none;
    padding: .1rem;
    align-items: center;
}

nav ul li{
    padding: 1rem;
    margin: 0;
    font-size: 22px;
    border-radius: 100px;
    text-align: center;
    
}

nav ul li:hover{
    background-color: rgba(216, 216, 216, 0.137);
}

nav a{
    text-decoration: none;
    color: white;
}

main{
    padding-top: 6rem;
}

#socials{
    width: 3rem;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    flex-direction: column;
}

.image{
    display: flex;
    width: 100%;
    height: 10rem;
    background-image: url(./Media/Images/figure.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-style: italic;
    font-style: bold;
}

.textContainer{
    display: flex;
    width: 100%;
    border-bottom: white 1px solid;
    color: white;
}

.text{
   margin-top: 1rem;
   margin-bottom: 1rem;
    
}

.text h2{
    text-decoration: underline;
    font-size: 22px;
}

.languages{
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    background-color: rgba(233, 228, 228, 0.7);
    margin-top: 1rem;
}


.languages img{
    width: 3rem;
    margin: 1rem;
}

#html{
    width: 4.5rem;
}

#js{
    width: 4rem;
}

#md{
    width: 4rem;
}

#node{
    width: 6rem;
}

.langHeader{
    margin-top: 1rem;
    color: white;
    text-decoration: underline;
}

.langHeader h2{
    font-size: 24px;
}

.disclaimer{
    color: white;
    opacity: 0.5;
    margin-top: 1rem;
    text-align: center;
}

/*loading bar*/

.loader-container {
    text-align: center;
    margin-top: 1rem;
    color: white;
  }
  
  .loader {
    width: 200px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .progress {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    animation: progressAnimation 3s infinite;
  }
  
  .loading-text {
    font-size: 18px;
    font-weight: bold;
  }
  
  @keyframes progressAnimation {
    0% { width: 0; }
    100% { width: 100%; }
  }

  /*loading bar ends*/

  /*projects*/

  .projectHeader{
    border-top: white 1px solid;
    width: 100%;
    margin-top: 1rem;
  }

  .projectHeader h2{
    margin-top: 1rem;
    font-size: 24px;
    color: white;
    text-decoration: underline;
    text-align: left;
  }

  .projects{
    display: flex;
    width: 100%;
    height: 200px;
    
    justify-content:space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #projectP{
    text-align: left;
    color: white;
    margin-top: 0.7rem;
  }

  .poke{
    width: 30%;
    margin-top: 1rem;
    background-image: url(./Media/Images/Poke.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
  }

  .poke:hover{
    border: rgba(226, 226, 226, 0.7) 2px solid;
  }

  .barebones{
    width: 30%;
    margin-top: 1rem;
    background-image: url(./Media/Images/barebones.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
  }

  .barebones:hover{
    border: rgba(226, 226, 226, 0.7) 2px solid;
  }

  .barebonesV2{
    width: 30%;
    margin-top: 1rem;
    background-image: url(./Media/Images/barebonesV2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
  }

  .barebonesV2:hover{
    border: rgba(226, 226, 226, 0.7) 2px solid;
  }

  /*tooltip*/

  /* Tooltip Styles */
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 4px;
    z-index: 1;
    font-size: 12px;
  }
  
  .poke {
    position: relative;
    display: inline-block;
  }
  
  .poke:hover .tooltip {
    display: block;
  }

  .barebones {
    position: relative;
    display: inline-block;
  }
  
  .barebones:hover .tooltip {
    display: block;
  }

  .barebonesV2 {
    position: relative;
    display: inline-block;
  }
  
  .barebonesV2:hover .tooltip {
    display: block;
  }

  footer{
    display: flex;
    background-color:rgb(91, 167, 202) ;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
    top: 200px;
  }

  footer a{
    text-decoration: underline;
  }